<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>

<head>
  <title>Result</title>
  <link type="text/css" rel="stylesheet" href="table.css" />
</head>

<body>
  <div
    style="margin-left:275px;margin-right:auto;display:inline-block;box-shadow: 10px 10px 5px #888888;border:1px solid #000000;-moz-border-radius-bottomleft:9px;-webkit-border-bottom-left-radius:9px;border-bottom-left-radius:9px;-moz-border-radius-bottomright:9px;-webkit-border-bottom-right-radius:9px;border-bottom-right-radius:9px;-moz-border-radius-topright:9px;-webkit-border-top-right-radius:9px;border-top-right-radius:9px;-moz-border-radius-topleft:9px;-webkit-border-top-left-radius:9px;border-top-left-radius:9px;background:white">
    &nbsp;Ratings breakdown&nbsp;</div>
  <p style="bottom-margin:10px">
    <table class="CSS_Table_Example" style="width:60%;margin:auto;">
      <tr>
        <td>Movie</td>
        <td>Year</td>
        <td>0.5 star</td>
        <td>1 star</td>
        <td>1.5 star</td>
        <td>2 star</td>
        <td>2.5 star</td>
        <td>3 star</td>
        <td>3.5 star</td>
        <td>4 star</td>
        <td>4.5 star</td>
        <td>5 star</td>
        <td>Total ratings</td>
        <td>Average</td>
      </tr>
      <tr>
        <td><a href={{url}} target="_blank">{{title}}</a></td>
        <td>{{year}}</td>
        <td>{{half}}%</td>
        <td>{{one}}%</td>
        <td>{{one_and_a_half}}%</td>
        <td>{{two}}%</td>
        <td>{{two_and_a_half}}%</td>
        <td>{{three}}%</td>
        <td>{{three_and_a_half}}%</td>
        <td>{{four}}%</td>
        <td>{{four_and_a_half}}%</td>
        <td>{{five}}%</td>
        <td>{{total}}</td>
        <td>{{average}}</td>
      </tr>

    </table>
  </p>
</body>

</html>